::-webkit-scrollbar {
  width : 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: $accentColor;
  background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
  );
}
::-webkit-scrollbar-track {
  background   : #fff;
}

.hero img {
  width: 90px;
}
.feature {
  padding: 0 15px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow .3s;
}
